/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img{
max-width: 100%;

}

body{
    background-color: aqua;
}

.container {
margin: 5rem 1rem;
}

.card{
background-color: white;
display: flex;
flex-direction: column;
}

.card__qr{

}
.card__text{

}


